.form {
    width: 320px;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.button{
    margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: cornflowerblue;
        border: none;
        border-radius: 6px;
        color: #fff;
        flex-grow: 1;
        font-size: 15px;
        height: 36px;
        line-height: 20px;
        margin-right: 8px;
        min-width: 50px;
        max-width: 80px;
        padding: 0 16px 0 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
}